@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IConfiguration configuration
@model Unima.Models.ViewModels.AccountViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="end">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unima</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <div class="row justify-content-center align-items-center custom-margin">
            <div id="loginForm" class="col-6 login-panel text-white p-4 rounded">
                <form asp-action="LogIn" method="post" class="form mx-auto">
                    <h2 class="title text-center mt-5 font-weight-bold">یونیما</h2>
                    @if (ViewData["LogInError"] is not null)
                    {
                        <span class="text-danger">@ViewData["LogInError"]</span>
                    }
                    <div class="form-group py-4">
                        <input required asp-for="UserLogInModel.Username" class="form-control my-3 p-2 input" type="text" placeholder="نام کاربری">
                        <label asp-for="UserLogInModel.Username" class="label"></label>
                    </div>
                    <div class="form-group py-4 text-white password-input">
                        <button type="button" class="showpassword btn px-1" onclick="toggleLogInPassword()">
                            <i class="fa-solid fa-eye" id="logInEyeIcon"></i>
                        </button>
                        <input asp-for="UserLogInModel.Password" class="form-control my-3 p-2 input" type="password" placeholder="کلمه عبور">
                        <label asp-for="UserLogInModel.Password" class="label"></label>
                    </div>
                    <div class="form-group my-3 pt-4">
                        <input asp-for="UserLogInModel.RememberMe" class="form-check-input text-danger" type="checkbox">
                        <label asp-for="UserLogInModel.RememberMe" class="checked mr-2"></label>
                    </div>
                    <div class="form-group mt-4">
                        @*                         <div class="g-recaptcha" data-sitekey="6LcXdpUqAAAAABAtABbwcEOA-ojiK75pztHaZLt7">
                        </div> *@
                    </div>
                    <div class="form-group text-center mt-2">
                        <button onclick="loadingAnimation()" id="loginBtn" class="btn btn-block w-100 mt-4 rounded-pill enter">ورود<div id="loading "class="loader  d-none "></div></button>
                    </div>
                    <div class="form-group text-center ">
                        <div class="row justify-content-around mt-5 mb-2">
                            <a class="col text-nowrap forgot" href="">فراموشی رمز عبور!</a>
                            <a class="col text-nowrap sign-in" href="" id="showSignup">ثبت نام</a>
                        </div>
                    </div>
                </form>
            </div>
            <!--  end of login   -->
            <!-- signup  -->
            <div id="signupForm" class=" col-6 login-panel text-white p-4 rounded hidden">
                <form id="registerForm" asp-action="Register" class=" form mx-auto">
                    <h2 class="title text-center mt-2 font-weight-bold">یونیما</h2>
                    @if (ViewData["SignUpError"] is not null)
                    {
                        <span class="text-danger serverValidation">@ViewData["SignUpError"]</span>
                    }

                    <div class="form-group pt-2 pb-3">
                        <input asp-for="UserRegisterModel.FullName" class="form-control mb-3 mt-1 p-2 input" type="text" placeholder="نام و نام خانوادگی">
                        <label asp-for="UserRegisterModel.FullName" class="label"></label>
                    </div>
                    <div class=" form-group pt-4 pb-3 row   ">
                        <div class="col-6">
                            <input asp-for="UserRegisterModel.Username" class="form-control my-3 p-2 input" type="text" placeholder="شماره دانشجویی">
                            <label asp-for="UserRegisterModel.Username" class="label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="UserRegisterModel.PhoneNumber" class="form-control my-3 p-2 input"  type="text" placeholder="تلفن همراه">
                            <label asp-for="UserRegisterModel.PhoneNumber" class="label"></label>
                        </div>
                    </div>
                    <div class="form-group py-3 text-white password-input">
                        <input asp-for="UserRegisterModel.Password" class="form-control my-3 p-2 input" type="text" placeholder="کلمه عبور" oninput="checkPasswordMatch()">
                        <label asp-for="UserRegisterModel.Password" class="label"></label>
                    </div>
                    <div class="form-group py-3 text-white password-input   ">
                        <input asp-for="UserRegisterModel.ConfirmPassword" class="form-control my-3 p-2 input" type="text" placeholder="تکرار کلمه عبور" oninput="checkPasswordMatch()">
                        <label asp-for="UserRegisterModel.ConfirmPassword" class="label"></label>
                    </div>
                    <p class="pt-4" id="error-message" style="font-size: .8em; color: rgb(240, 7, 7); display: none;">
                        کلمه عبور و تکرار آن یکسان نیستند!
                    </p>
                    <div class="form-group mt-4 mb-3">
                        <input asp-for="UserRegisterModel.IsAcceptedRule" class="form-check-input" type="checkbox">
                        <label class=" checked mr-2" for="checked">
                            <a id="button-rules" class="d-inline-block " href="" data-bs-toggle="modal"
                               data-bs-target="#exampleModal">
                                شرایط و قوانین
                            </a> را میپذیرم
                        </label>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="UserRegisterModel.ReferralUsername" class="form-control input" type="text" placeholder="شماره دانشجویی معرف (اختیاری)">
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="GoogleCaptchaResponse" name="UserRegisterModel.GoogleCaptchaResponse">
                    </div>
                    <div class="form-group text-center d-block align-content-center">
                        <button onclick="loadingAnimation()"  id="signUpBtn" type="submit" class="btn btn-block w-100  mt-4 rounded-pill enter">ثبت نام<div id="loading "class="loader d-none "></div></button>
                        <p class="mt-4 return-paragraph d-inline-block ">بازگشت به پنل </p>
                        <a id="showLogin" class="return-login d-inline-block pr-1" href="#">ورود</a>
                    </div>
                </form>
            </div>
            <!-- end of signup   -->
            <!-- end of panel -->
            <!-- carousel -->
            <div class="col-6 content d-none d-lg-block">
                <div id="demo" class="carousel slide carrousel rounded " data-bs-ride="carousel">
                    <div class="carousel-indicators indicator ">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active "></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>
                    <div class="carousel-inner w-100 h-100">
                        <div class="carousel-item active slide1">
                            <div>
                                <img src="/Images/SlideBarImage.jpg" class="d-block w-100 h-100  "
                                     style="max-height: 530px ;" alt="Food image">
                            </div>
                        </div>
                        <div class="carousel-item slide2">
                            <h2 class=" mt-1 p-3 title text-center">ارتباط با ما</h2>
                            <h6 style="color: #2b404f  ;" class=" p-3 mb-4 text-center">
                                در صورت بروز مشکل با یکی از
                                پشتیبانی های زیر ارتباط برقرار
                                کنید
                            </h6>
                            <div class="accordion" id="myaccordian">
                                @{
                                    for (int i = 0; i < Model.Supports?.Count; i++)
                                    {
                                        var id = $"clps{i + 1}";
                                        <div class="accordion-item">
                                            <h6 class="accordion-header">
                                                <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="false" aria-controls="@id">
                                                    <i class="mb-2 d-block support-user-icon fas fa-user fa-2x"></i>
                                                    <span class="support-user-title">@Model.Supports[i].Name </span>
                                                </button>
                                            </h6>
                                            <div id="@id" class="accordion-collapse collapse" data-bs-parent="#myaccordian">
                                                <div class="accordion-body">
                                                    <h5>
                                                        <i class="fab fa-telegram text-primary" style="font-size: 20px;"></i>
                                                        <a class="support px-2" href="@Model.Supports[i].TelegramAccountURLId" target="_blank">تلگرام</a>
                                                        <i class="fas fa-phone text-success"></i>
                                                        <a href="tel:{@Model.Supports[i].PhoneNumber}" class="support px-2">@Model.Supports[i].PhoneNumber</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="carousel-item slide3">
                            <div style="text-align: justify; text-justify: inter-word;">
                                <h2 class="p-2 fw-bold title text-center mb-3"> درباره ما </h2>
                                <p id="Paragraphs" class="px-4" style=" color:#243642;">
                                    ما یک پلتفرم هوشمند برای رزرو اتوماتیک غذای سلف دانشگاه هستیم که به دانشجویان و اعضای هیئت علمی کمک می‌کند بدون نگرانی و اتلاف وقت، غذای خود را در سامانه دانشگاه رزرو کنند.
                                    مشغله‌های روزمره باعث می‌شود بسیاری از افراد فراموش کنند غذای خود را در سامانه دانشگاه ثبت کنند، که این موضوع می‌تواند به مشکلاتی مانند نداشتن غذا در روز موردنظر یا پرداخت هزینه‌های اضافی منجر شود. پلتفرم ما این مشکل را حل کرده است! کاربران با ثبت اطلاعات خود، دیگر نیازی به ورود مداوم به سامانه رزرو دانشگاه ندارند. ما به‌صورت خودکار و دقیق فرآیند رزرو را برای آن‌ها انجام می‌دهیم.
                                    <br />
                                    چرا ما؟<br />
                                    ✅ رزرو خودکار و بدون نیاز به ورود دستی<br />
                                    ✅ امنیت بالا و حفظ حریم خصوصی کاربران<br />
                                    ✅ صرفه‌جویی در زمان و جلوگیری از فراموشی رزرو<br />
                                    ✅ پشتیبانی مستمر و به‌روزرسانی مداوم خدمات<br />
                                <p class="text-center m-0 p-0 text-dark font-weight-bold">با ما، دیگر نگران فراموشی رزرو غذا نباشید!</p><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of carousel -->
            </div>
        </div>
    </div>
    <!-- rules -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content " style="background-color:#889E73; color: #243642;">
                <div class="modal-header " style="direction: ltr;">
                    <button type="button" class="btn-close  " data-bs-dismiss="modal" aria-label="Close"
                            style="margin-left: 0 !important; color: #243642 !important ;  "></button>
                    <h4 class="modal-title text-center fw-bold " id="exampleModalLabel">
                        شرایط و قوانین وب سایت
                    </h4>
                </div>
                <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
                    <b class="fw-blod ">قوانین کاربران</b>   <br />
                    <b>1.</b> صحت اطلاعات: کاربران موظف‌اند اطلاعات هویتی و ورود به سامانه دانشگاه را به‌درستی وارد کنند. پلتفرم هیچ‌گونه مسئولیتی در قبال اطلاعات نادرست بر عهده ندارد.  <br />
                    <b>2.</b> حفظ محرمانگی اطلاعات: کاربران نباید اطلاعات حساب خود را با دیگران به اشتراک بگذارند. مسئولیت هرگونه سوءاستفاده از اطلاعات کاربری بر عهده کاربر است. <br />
                    <b>3.</b> عدم سوءاستفاده: استفاده از پلتفرم برای رزرو غذا به‌جای دیگران یا هرگونه سوءاستفاده از سیستم، منجر به مسدود شدن حساب خواهد شد.<br />
                    <b>4.</b> کنترل وضعیت رزرو: کاربران باید پس از رزرو غذا، وضعیت رزرو خود را در سامانه دانشگاه بررسی کنند. پلتفرم تضمین ۱۰۰٪ در مورد عملکرد سامانه دانشگاه ندارد.<br />
                    <b>5.</b> لغو و تغییر رزرو: در صورت تغییر یا لغو رزرو، کاربران باید قبل از موعد مقرر اقدام کنند. پلتفرم مسئولیتی در قبال تغییرات احتمالی سامانه دانشگاه ندارد. <br />
                    <b>6.</b> حفظ امنیت حساب کاربری: در صورت مشکوک شدن به هرگونه فعالیت غیرمجاز، کاربران باید بلافاصله رمز عبور خود را تغییر داده و پشتیبانی را مطلع کنند. <br />
                    <b class="fw-bold">قوانین پلتفرم</b>  <br />
                    <b>1.</b> نحوه عملکرد: پلتفرم ما به‌عنوان یک سرویس واسط، اطلاعات ورود کاربران را دریافت کرده و رزرو غذا را به‌طور خودکار انجام می‌دهد.  <br />
                    <b>2.</b> محدودیت مسئولیت: پلتفرم هیچ‌گونه مسئولیتی در قبال مشکلات سامانه دانشگاه، عدم دسترسی، تغییر قوانین رزرو، یا مشکلات پرداختی دانشگاه ندارد.  <br />
                    <b>3.</b> حریم خصوصی: اطلاعات کاربران نزد پلتفرم محفوظ است و تحت هیچ شرایطی به اشخاص ثالث ارائه نمی‌شود.  <br />
                    <b>4.</b> تعهدات مالی: در صورت پرداخت هزینه برای استفاده از خدمات، کاربر موظف است پرداخت را مطابق قوانین پلتفرم انجام دهد. <br />
                    <b>5.</b> قطع یا تغییر خدمات: پلتفرم حق دارد در هر زمان، در صورت بروز مشکلات فنی یا تغییر سیاست‌های دانشگاه، خدمات را متوقف یا تغییر دهد.  <br />
                    <b>6.</b> حذف حساب کاربری: در صورت نقض قوانین، پلتفرم می‌تواند حساب کاربر را بدون اطلاع قبلی مسدود کند.  <br />
                    این قوانین برای تضمین عملکرد بهتر پلتفرم و حفظ حقوق کاربران وضع شده‌اند و ممکن است در آینده به‌روزرسانی شوند.<br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn " data-bs-dismiss="modal"
                            style="background-color: #f2e5bf; color: #243642; font-weight: bold;">
                        مطالعه کردم
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!--  end of rules -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lfud-sqAAAAAJhCHcjpYSLRi3ZC1o41i2mWoYYj"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var registerForm = document.getElementById("registerForm");

            registerForm.addEventListener("submit", function (event) {
                event.preventDefault();

                grecaptcha.ready(function () {
                    grecaptcha.execute('6Lfud-sqAAAAAJhCHcjpYSLRi3ZC1o41i2mWoYYj', { action: 'submit' })
                        .then(function (token) {
                            if (token) {
                                document.getElementById("GoogleCaptchaResponse").value = token;
                                registerForm.submit()
                            }
                        });
                });
            });
        });
    </script>
</body>
</html>