@using Unima.Dal.Enums
@model Unima.Areas.User.Models.ViewModels.DashboardViewModel;
@{
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/Dashboard.css">
<!-- notifications cards  -->
<section class="mb-5">
    <div class="row pt-md-4 mt-md-2 mb-3 justify-content-around ">
        <div class="col-lg-2 col-md-5 col-sm-5 p-2">
            <!-- card -->
            <div class="card card-common">
                <div class="card-body">
                    <div class="content-wrapper">

                        <div class="text-content">
                            <h6 class="plan-title">وضعیت هفته</h6>
                            <select id="OfficeStatus" class="form-select" onchange="ChangeOfficeStatus()">
                                @if (Model.ProfessorOfficeStatuses is not null)
                                {
                                    foreach (var status in Model.ProfessorOfficeStatuses)
                                    {
                                        <option value="@status.Value">@status.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-calendar-week fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-5 p-2">
            <!-- card -->
            <div class="card card-common">
                <div class="card-body">
                    <div class="content-wrapper">
                        <div class="text-content">
                            <h6 class="plan-title">طرح</h6>
                            <h6 class="plan-name">@Model.UserPlan</h6>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-money-check-dollar fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-5 p-2">
            <!-- card -->
            <div class="card card-common">
                <div class="card-body">
                    <div class="content-wrapper">
                        <div class="text-content">
                            <h6 class="plan-title">تاریخ: @Model.TodayDate</h6>
                            <h6 class="plan-name mt-2">هفته فرد </h6>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-calendar-week fa-2x text-info "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-none  col-md-5 col-sm-5 p-2">
            <!-- card -->
            <div class="card card-common  mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-secondary">
                            <h6> </h6>
                            <h6 class="mt-4"> </h6>
                        </div>
                        <i class="fa-solid fa-money-check-dollar fa-2x text-dark "></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of card -->
    </div>
</section>
<!-- notifications cards  -->
<!-- schedule -->
<section class="mb-sm-5">
    <div class="d-flex justif y-content-between justify-content-md-center align-items-center flex-row flex-wrap d-sm-block gap-2">
        <!-- days-buttons -->
        <div class="row daysButtonsContainer ms-4 gap-5 gap-sm-2 mt-5 mt-sm-0 gap-md-3 gap-lg-5 justify-content-center align-items-center">
            @{
                int dayOfWeek = (int)Model.DayOfWeek;

                for (int i = 0; i < 7; i++)
                {
                    string dayKey = i switch
                    {
                        0 => "sat",
                        1 => "sun",
                        2 => "mon",
                        3 => "tue",
                        4 => "wed",
                        5 => "thu",
                        6 => "fri",
                        _ => string.Empty
                    };

                    string day = i switch
                    {
                        0 => "شنبه",
                        1 => "یکشنبه",
                        2 => "دوشنبه",
                        3 => "سه‌شنبه",
                        4 => "چهارشنبه",
                        5 => "پنجشنبه",
                        6 => "جمعه",
                        _ => string.Empty
                    };
                    <div class="col-xl-1 col-md-1 col-sm-2">
                        <button id="" class="days @(i == dayOfWeek ? "active-day" : string.Empty) text-light-emphasis fw-bolder rounded rounded-4"
                                onclick="showCards('@dayKey')"
                                onblur="backToTodayTimeline(@dayOfWeek)">
                            @day
                        </button>
                    </div>
                }
            }
        </div>
        <!-- days-buttons -->
        <!-- days-cards -->
        @{
            for (int i = 0; i < 7; i++)
            {
                string day = i switch
                {
                    0 => "sat",
                    1 => "sun",
                    2 => "mon",
                    3 => "tue",
                    4 => "wed",
                    5 => "thu",
                    6 => "fri",
                    _ => string.Empty
                };

                <div id="card-@day" class="day-cards animate__animated row mt-2 mt-sm-4 justify-content-center @(i != dayOfWeek ? "d-none" : "")">
                    @if (User.IsInRole("Student"))
                    {
                        var foods = Model.ReservedFoods?.Where(food => food.Day == (WeekDay)i).ToList();

                        string? breakfast = foods is not null && foods.Count > 0 ? @foods?[0]?.Title : "تعریف نشده";
                        string? lunch = foods is not null && foods.Count > 1 ? @foods?[1]?.Title : "تعریف نشده";
                        string? dinner = foods is not null && foods.Count > 2 ? @foods?[2]?.Title : "تعریف نشده";
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 mt-5 mt-sm-5">
                            <div class="card  rounded-top-5 ">
                                <div class="card-header card-color h5 text-center p-4 rounded-top-5 ">
                                    صبحانه
                                </div>
                                <div class="card-body bg-light">
                                    <h6>نوع غذا:</h6>
                                    <span class="fw-light">@breakfast</span>
                                    <hr>
                                    <h6>سلف:</h6>
                                    <span class="fw-light">مرکزی</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-8 mt-5 mt-sm-5">
                            <div class="card rounded-top-5 ">
                                <div class="card-header  card-color h5 text-center  p-4 rounded-top-5 ">
                                    ناهار
                                </div>
                                <div class="card-body bg-light">
                                    <h6>نوع غذا:</h6>
                                    <span class="fw-light">@lunch</span>
                                    <hr>
                                    <h6>سلف:</h6>
                                    <span class="fw-light"> مرکزی </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 mt-5 mt-sm-5">
                            <div class="card rounded-top-5 ">
                                <div class="card-header card-color  h5 text-center  p-4 rounded-top-5 ">
                                    شام
                                </div>
                                <div class="card-body bg-light">
                                    <h6>نوع غذا:</h6>
                                    <span class="fw-light">@dinner</span>
                                    <hr>
                                    <h6>سلف:</h6>
                                    <span class="fw-light"> مرکزی </span>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.Schedules is not null)
                    {
                        <div class="timeline-wrapper" id="timeline-wrapper">
                            <div class="timeline-container" id="timeline-container-@day"></div>
                        </div>
                    }
                </div>
            }
        }
        <!-- days-cards -->
    </div>
</section>
<!-- schedule  -->
<section>
    @await Html.PartialAsync("_PlansPartial", Model.Plans)
</section>
<section>
    @await Html.PartialAsync("_SupportWidgetPartial", Model.QuestionAndAnswers)
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/Dashboard.js"></script>
<script>
    fetch('/User/Dashboard/GetCredit')
        .then(response => response.text())
        .then(data => {
            document.getElementById('userCredit').innerText = data
        });
</script>
