@using Unima.Areas.User.Models.Plan
@using Unima.Dal.Enums
@model IEnumerable<PlanModel>?
<!-- plans -->
<section class="mt-sm-5">
    <div class="row justify-content-center gap-5 align-items-center">
        @if (Model is not null)
        {
            foreach (var plan in Model)
            {
                var isFree = plan.Type == PlanType.Gift;
                var price = isFree ? "رایگان" : plan.Price.ToString();
                var buttonText = isFree ? "فعالسازی" : "خرید";
                var planClass = plan.Type switch
                {
                    PlanType.Gift => "plan-1",
                    PlanType.Standard => "plan-2",
                    _ => "plan-3"
                };
                var iconClass = plan.Type switch
                {
                    PlanType.Gift => "fa-gift",
                    PlanType.Standard => "fa-fire",
                    _ => "fa-medal"
                };
                var titleBadge = plan.Type == PlanType.Standard ? "<span class=\"popular-title rounded rounded-5 shadow px-4 py-2\">پرطرفدار</span>" : "";
                <div class="col-xl-3 col-lg-3 col-sm-8 col-10 p-4 mb-5 mt-5 rounded rounded-5 @planClass text-dark-emphasis">
                    <div class="d-flex justify-content-around align-items-center mb-5">
                        @Html.Raw(titleBadge)
                        <i class="fa-solid @iconClass mt-4 text-primary-emphasis shadow shadow-lg fa-xl me-auto"></i>
                    </div>
                    <h2 class="my-4 text-center">@plan.Title</h2>
                    <h5 class="my-4 @(plan.Type == PlanType.Plus ? "d-none": "d-block")">بهترین پلن موجود</h5>
                    <div class="d-flex align-items-center justify-content-center my-4">
                        <span class="h3 @(isFree ? "text-danger mt-3" : "")">@price</span>
                        <span class="fw-light mb-2 me-1 rounded rounded-3 ms-4">@((isFree ? "" : "تومان"))</span>
                        <span class="me-5 fw-bolder fs-4"> @plan.Period روزه</span>
                    </div>
                    <div>
                        <button class="planActiovationButton py-2 mt-3 mb-4 w-100 fs-5 shadow-lg rounded rounded-4 bought-button">
                            @buttonText
                        </button>
                    </div>
                    <span class="h6 @(plan.HasTelegramBot || plan.HasEmailNotification || plan.HasSmsNotification ? "d-block" : "d-none") my-3">شامل چه چیز هایی میشود ؟</span>
                    <span class="@(plan.HasTelegramBot ? "d-block" : "d-none") my-4">
                        <i class="fa-brands fa-lg ms-3 fa-bots"></i>اطلاع رسانی وضعیت از طریق ربات تلگرام
                    </span>
                    <span class="@(plan.HasEmailNotification ? "d-block" : "d-none") my-4">
                        <i class="fa-solid fa-envelope fa-lg ms-3 "></i> اطلاع رسانی از طریق ایمیل
                    </span>
                    <span class="@(plan.HasSmsNotification ? "d-block" : "d-none") my-4">
                        <i class="fa-solid fa-lg ms-3 fa-comment"></i>اطلاع رسانی از طریق پیامک
                    </span>
                </div>
            }
        }
    </div>
</section>
<!-- plans  -->